.table{
    color: #fff;
    width: calc(3/5 * 100%);
    padding: 1rem .4rem;
    border-radius: 1rem;
    background: radial-gradient(ellipse at center, #293257 0%, #1b1e2e 100%);
}

.tableLayout{
    font-weight: 500;
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1.5fr;
    text-align: center;
    margin: 1rem 0;
}