.footer {
  color: #fff;
  background: radial-gradient(ellipse at bottom, #1a1e31 0%, #08090e 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  padding: 3rem;
}
