@import "tailwindcss";

*{
  font-family: 'Montserrat';
}

.containerBox {
  display: flex;
  flex-direction: column;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
}